/* line 4, style.scss */
.plm_calendar_year {
  text-align: center;
}

/* line 8, style.scss */
tr .holiday span {
  font-weight: bold;
  color: red;
}

/* line 13, style.scss */
.plm_calendar_container {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.1/sass/susy/output/support/_clearfix.scss */
.plm_calendar_container::after {
  content: " ";
  display: block;
  clear: both;
}
/* line 17, style.scss */
.plm_calendar_container > .plm_calendar_month .plm_calendar caption {
  text-align: center;
}

/* line 24, style.scss */
.plm_single_month {
  width: 75%;
  margin: 0 auto;
}
/* line 27, style.scss */
.plm_single_month table {
  border: 1px solid black;
}
/* line 29, style.scss */
.plm_single_month table thead tr th, .plm_single_month table tbody tr td {
  padding: 2px 6px;
}
/* line 34, style.scss */
.plm_single_month table thead tr th {
  width: 14.14286%;
  border-bottom: 1px solid black;
}
/* line 42, style.scss */
.plm_single_month table tbody tr td {
  font-size: 110%;
  min-height: 1.8em;
}
/* line 48, style.scss */
.plm_single_month table caption {
  font-size: 133%;
  font-weight: bold;
}
